<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{35,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,42}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,142},{35,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{35,36}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,161},{35,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{35,34}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,129},{35,34}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{35,34}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,41},{33,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{33,32}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c14.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,156},{33,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{33,30}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c15.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,147},{33,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{33,30}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c16.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,97},{37,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{37,30}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{39,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{39,30}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c18.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{37,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{37,32}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c19.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,124},{35,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{35,36}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,42}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c20.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,89},{33,38}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{33,38}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c21.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,60},{31,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{31,40}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c22.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,35},{31,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{31,40}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c23.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,68},{27,40}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{27,40}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c24.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,93},{25,40}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{25,40}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c25.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,31},{27,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{27,42}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c26.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{31,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{31,42}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c27.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,39},{29,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{29,40}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{31,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{31,36}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{33,34}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{33,34}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{31,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{31,42}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c30.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,179},{33,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{33,34}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c31.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,120},{35,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{35,34}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{37,30}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{37,30}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c33.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,115},{39,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{39,30}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c34.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,76},{37,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{37,36}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c35.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,70},{37,38}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{37,38}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{27,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{27,42}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,35},{23,42}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{23,42}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,60},{27,40}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{27,40}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{29,40}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{29,40}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,109},{31,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{31,38}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{33,38}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{33,38}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>rotate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,273},{23,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{23,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,211},{21,27}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{21,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,204},{21,27}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{21,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,214},{21,27}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{21,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,257},{21,25}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{21,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,250},{21,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{21,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,243},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{21,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,273},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{23,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,250},{25,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{25,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,179},{27,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{27,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,202},{27,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{27,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,248},{25,21}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{25,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,227},{25,21}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{25,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,225},{25,21}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{25,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{23,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,298},{23,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{23,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,271},{23,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{23,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,197},{21,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{21,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,190},{21,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{21,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,188},{21,27}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{21,27}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,236},{21,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{21,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,234},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{21,25}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,165},{27,23}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{27,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,237},{21,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{21,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,179},{27,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{27,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,220},{25,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{25,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,213},{25,21}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{25,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,298},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{23,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,296},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{23,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rotate_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,225},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{23,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plist.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d1d5be6c95d176a0db34188105965e8:1/1$</string>
            <key>textureFileName</key>
            <string>plist.png</string>
        </dict>
    </dict>
</plist>
